.root{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #f50b0b, blue);
    -fx-font-size: 25pt;
}

.label{
    -fx-text-fill: #14e5e5;
}

#goBackWelcomeScreenBtn{
    -fx-background-color: #0ae3ea;
    -fx-text-fill: black;
}

#goToInstructionScreenBtn{
    -fx-background-color: #0ae3ea;
    -fx-text-fill: black;
}
